files:
  "/var/run/puma/":
    mode: "0755"
    owner: webapp
    group: webapp
    type: "directory"

container_commands:
  01_fix_puma_directory:
    command: |
      sudo rm -rf /var/run/puma
      sudo mkdir -p /var/run/puma
      sudo chown root:root /var/run/puma
      sudo chmod 0755 /var/run/puma
    leader_only: true